# The Google Cloud Project ID to deploy resources to.
project_id = "YOUR_PROJECT_ID"

# The Google Cloud region to deploy resources.
# Defaults to europe-west2 (London), which is optimal for UK-based users.
region = "europe-west2"

# The name of the application.
app_name = "eco-pulse"
